:root {
	--black: #3b434e;
	--white: white;

	--primary: #7653fc;
	--primary-90: rgba(118, 83, 252, 0.9);
	--primary-80: rgba(118, 83, 252, 0.8);
	--primary-70: rgba(118, 83, 252, 0.7);
	--primary-60: rgba(118, 83, 252, 0.6);
	--primary-50: rgba(118, 83, 252, 0.5);
	--primary-40: rgba(118, 83, 252, 0.4);
	--primary-30: rgba(118, 83, 252, 0.3);
	--primary-20: rgba(118, 83, 252, 0.2);
	--primary-10: rgba(118, 83, 252, 0.1);
	--primary-hover: #6344DF;

	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--green-light-hover: #9acbb3;

	--gray-extra-light: #FBFBFB;
	--gray-light: #EBEBEB;
	--gray-dark: #D5D5D5;
	--gray-extra-dark: #bbbbbb;

	--font-family: 'Ubuntu', 'sans-serif';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--gray-extra-light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;
  text-align: center;
  line-height: 12px;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  height: 30px;

  transition: background-color, border .2s ease-in-out;
}
.round {
	padding: 5px;
	height: 17px;
	width: 17px;
	line-height: 10px;
	font-size: 12px;
	border-radius: 50%;
}
.primary {
  color: white;
  background-color: var(--primary);
}
.primary:hover {
  background-color: var(--primary-hover);
}
.green-light {
	background-color: var(--green-light-hover);
	color: white;
}
.green-light:hover {
	background-color: var(--green);
}
.button__submit {
	margin: 0 10px;
}
.button__mark {
	position: absolute;
	top: 7px;
	left: calc(50% - 83px);
}