.textarea {
	flex: 1;
	height: 100%;

	border-radius: 5px;
    padding: 7px 8px;
    border-color: var(--primary-20);
	outline: none;
	resize: none;
	background: var(--gray-extra-light);
	color: var(--black);

	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;

	/* white-space: nowrap; */
}

.language-ts {}

.textarea:focus, .textarea:focus-visible, .textarea:active { border-color: var(--primary-50); }

*::placeholder { color: var(--gray-extra-dark) !important; }
*:-moz-placeholder {
	color: var(--gray-extra-dark) !important;
	opacity: 1;
}
*::-moz-placeholder {
	color: var(--gray-extra-dark) !important;
	opacity: 1;
}
*:-ms-input-placeholder { color: var(--gray-extra-dark) !important; }
*::-ms-input-placeholder { color: var(--gray-extra-dark) !important; }
*::-webkit-input-placeholder { color: var(--gray-extra-dark) !important; }